@model IEnumerable<HApp.CatalogRoom>
@{  int i = 1;
    
}
<table class="table">
    <tr>
        <th>
            №
        </th>
        <th>
            Количество гостей
        </th>
        <th>
            Количество комнат
        </th>
        <th>
            Площадь
        </th>
        <th>
            Цена в д.е
        </th>
        <th></th>
       
    </tr>

    @foreach (var item in Model)
    {
        if (item.free==true )
        {
            int l = item.price.ToString().Length;
            string pr = item.price.ToString().Remove(l - 5);
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.placesNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.area)
            </td>
            <td>
                @pr
            </td>
            <td>
                <a href="Reservation?roomsID=@item.catalogRoomsID">Бронировать</a>
            </td>
        </tr>
            i++;
        }

    }

</table>
