
@{
    ViewBag.Title = "Справка";
}

<h2>Справка</h2>
<hr />

<h3>«Назначение программы»</h3>
<p>
    Данная информационная система представляет собой пополняемый каталог отелей и гостиниц мира, в который включены описания отелей, их фотографии и контакты.
    Пользователями данной системы могут являться:
    <ul>
        <li>
            обычные пользователи – физические лица, чаще всего туристы, а также лица, планирующие свой отдых, посещающие ресурс в личных целях, не преследуя возможности извлечения прибыли.
        </li>
        <li>
            коммерческие пользователи – юридические лица, индивидуальные предприниматели, а также их представители или иные лица, использующие информационную систему в связи с их профессиональной деятельностью, преследующие коммерческие цели. К коммерческим пользователям отнесены турагентства, туроператоры, отели, туристические поисковые и информационные системы.
        </li>
    </ul>
</p>
<h3>«Условия выполнения программы»</h3>

<p>
    Требования к составу и параметрам технических средств:
    <ul>
        <li>
            тактовая частота процессора: 1,3 ГГц и выше.
        </li>
        <li>
            объём оперативной памяти: 512 Мб и выше.
        </li>
        <li>
            объём дискового пространства: 30 Мб.
        </li>
        <li>
            требования к разрешению монитора: 800х600 и выше.
        </li>
        <li>
            наличие сетевого доступа.
        </li>
        <li>
            наличие бесперебойного питания.
        </li>
        <li>
            наличие устройств ввода информации.
        </li>
    </ul>
    Система должна правильно функционировать со следующим набором аппаратно-программных средств:
    <ul>
        <li>
            ОС Windows 7 и выше.
        </li>
        <li>
            .NET Framework 2.0 и выше.
        </li>
        <li>
            браузеры Google Chrome 40.0 или Mozilla Firefox  41.0.1 и выше.
        </li>
    </ul>
</p>
<h3>«Выполнение программы»</h3>
Программа состоит из 3 основных пунктов: поиск, описание, бронирование. Далее детально рассмотрен каждый из пунктов.<br />
<div class="row">
    <p class="col-lg-12">
        <label>Поиск</label><br />
        Для осуществления поиска следует ввести один или несколько параметров: название отеля, страна, регион(город), дата приезда, дата отъезда, цена от, цена до, звезды, удаленность от пляжа(центра), дополнительные услуги.
        Далее нажмите на зеленую кнопку «Показать».
        По введенным параметрам или параметру будет произведен поиск в базе данных с целью получения соответствующих данных. Результат будет выведен в правой части экрана списком(рисунок 1).
    </p>
</div>
<div class="row" style="text-align:center">
    <img src="~/Content/Список.jpg" class="col-lg-12" style=" width:80%"/><br />
    <p ><i>Рисунок 1 - Главная страница «Поиск отеля по параметрам»</i></p>
</div>
<div class="row">
    <p class="col-lg-12">
        <label>Описание</label><br />
        Для того, чтобы более подробно изучить отфильтрованный список, следует перейти по ссылке, для этого нажмите на название отеля. Ниже приведен пример описания(рисунок 2).
        После пункта описание отеля представлена таблица свободных номеров с определенными критериями. Если пользователя устраивают данные критерии, переходите по следующей синего цвета ссылке «Бронировать».
    </p>
</div>
<div class="row" style="text-align:center">
    <img src="~/Content/Описание.jpg" class="col-lg-12" style=" width:80%"/><br />
    <p style="text-align:center"><i>Рисунок 2 - Описание отеля</i></p>
</div>
<div class="row">
    <p class="col-lg-12">
        <label>Бронирование</label><br />
        При бронировании обязательно заполняются все следующие поля:
        <ul>
            <li>
                Имя
            </li>
            <li>
                Фамилия
            </li>
            <li>
                Email
            </li>
            <li>
               Дата приезда
            </li>
        </ul>
        Следует перепроверить правильность введенных данных и если пользователь согласен с условиями, следует нажать на кнопку «Забронировать». 
    </p>
</div>
<div class="row" style="text-align:center">
    <img src="~/Content/Бронирование.jpg" class="col-lg-12"style=" width:80%" /><br />
    <p style="text-align:center"><i>Рисунок 3 - Бронирование номера</i></p>
</div>

<h3>«Сообщения пользователю»</h3>

<p>
    Не знаю, что требуется сюда написать..
</p>
